
.tease {
    background-color: white;

    a, a:active {
        color: #b31c27;
    }

    h4 a {
        font-family: Georgia,Serif;
        font-size: 1.2em;
    }

    .panel-default {
      .panel-heading {
        background-color: black;
      }
    }

}
