// Styles specific to tour page

.tour .photo-map {
    margin-top: 23px;
}

.tour .photo-text {
    margin-bottom: 100px;
    h2 {
        font-size: 2.6em;
        line-height: @line-height-base * .7;
        font-family: @font-family-serif;
        font-style: normal;
        font-weight: bold;
    }
}

// changes for the tour gallery
.tour hr {
    border-color: @gray-light;
    max-width: 60%;  
}


@media (min-width: @screen-sm-min) {
    .photo-map {
        // background-color: yellow;
        float: right;
        margin-left: 20px;
        margin-top: 30px;
        max-width: 50%; 
    }
    .photo-text {
        // background-color: red;
        margin-left: 10%;
        width: 80%;
    }

}

div.tour article#main {
    box-shadow: none;
    padding-bottom: 0px;
    margin-bottom: @line-height-computed * 2;
    div.main-caption {
        @media (min-width: @screen-sm-min) {
            margin-left: 10%;
            width: 80%;
        }
    }
}
